@import url(../styles/vendor/normalize.css);
/*@import url(../styles/vendor/fonts.css);*/


.section {
  max-width: 880px;
  width: calc(100% - 400px);
}
.section_size_full {
  width: 100%;
  border: 1px green solid;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.header {
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  margin-top: 45px;
}
.logo {
  display: block;
  width: 142px;
  height: 33px;

  background-image: url(../images/logo/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-top: 40px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: left;
  max-height: 120px;
}
.profile__avatar {
  max-width: 120px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile__info {
  margin-left: 30px;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: row;
  gap: 0 18px;
  align-items: end;
}
.profile__info-name {
  margin: 0;

  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;

}
.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: transparent;
}
.profile__icon-edit {

}

.profile__info-descript {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background: transparent;
}
.profile__icon-add {

}


.elements-grid {
  margin-top: 50px;
}
.elements-grid__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 20px 17px;
}
.elements-grid__item {
  font-size: 0;
}
